/********* B O X - S I Z I N G  ***/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/****************MEDIA QUERIES à la fin du fichier ************************/

/***** REGLES GENERALES - REGLES GENERALES  ******/
*,
*:after,
*:before {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 95%;
  margin: auto;
}

/***** HEADER  HEADER  HEADER  HEADER ******/

header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


.logo {
  width: 200px;
  height: 40px;
}

nav div {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
 }


header div img {
  width: 60px;

}

nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
  border-top: 0px;
}

nav a:hover {
  color: #0065FC;
  font-weight: bold;
}



section {}

/***** SECTION CRITERES VILLE  - SECTION CRITERES VILLE   ******/
section.criteres {
  border: 1px solid black; 
}

.criteres h1 {
  font-size: 20px;
}

form {
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  }

.formulaire {
  /*display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;*/
}


.fa-solid, .fa-location-dot  {
  background-color:#DEEBFF; 
  min-width: 30px;
    text-align: right;
    font-size: 25px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  
}

input[type="submit"]  {
  background-color: #0065FC;
  color: white;
  border: 0px solid #0065FC;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  /*height: 30px;*/
 }

 input[type="search"] {
   font-size: 15px;
 }

.filtres {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: 1px dotted red;
}

.trois-choix {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  border: 1px solid blueviolet;
}

.trois-choix p {
  text-align: center;
  border: 1px solid blue;
}

/***** SECTION HEBERGEMENTS  - SECTION HEBERGEMENTS   ******/
section.hebergement {
  display: flex;
  flex-flow: row wrap-reverse;
  border: 1px solid red;
  justify-content: space-between;
  background-color: #f2f2f2;
}

/***** SOUS-SECTION MAIN  (IN SECTION HEBERGEMENTS)   ******/
main {
  border: 1px solid blue;
  background-color: #f2f2f2;
  ;
}

/***** SOUS-SECTION ASIDE  (IN SECTION HEBERGEMENTS)   ******/
aside {
  border: 1px solid green;
  background-color: #f2f2f2;

}

/***** SECTION FOOTER -  SECTION FOOTER - SECTION FOOTER  ******/
footer {
  background-color: #f2f2f2;
}

/**************** M E D I A    Q U E R I E S ****************/
/*** D E S K T O P S ****/
@media screen and (min-width: 992px) {
  .hebergements:hover {
    border-top: 2px solid #0065FC;
  }

  .activites:hover {
    border-top: 2px solid #0065FC;
  }

}

/***************/

/*** T A B L E T T E S ****/
@media screen and (min-width: 768px) and (max-width: 991px) {


  .hebergements:hover {
    border-top: 2px solid #0065FC;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }

  .activites:hover {
    border-top: 2px solid #0065FC;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }

}

/***************/

/*** T E L E P H O N E S *********************/
@media screen and (max-width: 767px) {

  /**** dans la réalité HOVER n'a aucune utilité 
  pour la plupart des téléphones et tablettes 
  (pas de dispositif de pointage)*****/

  .hebergements:hover {
    border-bottom: 2px solid #0065FC;
  }

  .activites:hover {
    border-bottom: 2px solid #0065FC;
  }


  .hebergements {
    border-bottom: 2px solid #f2f2f2;
  }

  .activites {
    border-bottom: 2px solid #f2f2f2;
  }

  header {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .logo {
    text-align: center;
  }
}

/************ fin media queries **************************/



/*
.p2blue{
  color: #0065FC;
}
.p2lightblue{
  color:#DEEBFF; 
}
.p2greybackground{
  color: #f2f2f2;
}
*/