/********* B O X - S I Z I N G  ***/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/***** REGLES GENERALES  ******/
*,
*:after,
*:before {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

/***** HEADER  ******/

header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}


.logo {
  width: 100px;
  height: 100%;
  margin-left: 54px;
  padding-top: 42px;
}

.logo img {
  width: 97px;
  height: 47px;
}

.nav-hebergements,
.nav-activites {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding-top: 45px;
}

.nav-hebergements {
  padding-left: 5px;
  width: 46.7%;
}

.nav-activites {
  padding-right: 30px;
  width: 53.3%;
}

.titre-et-sous-titre {
  padding-left: 20px;
}

.titre-vacances-de-reve {
  font-size: 22px;
  font-weight: bold;
  padding-left: 5px;
  margin: 25px 0 0 0;
}

.saisie-ville {
  padding-left: 20px;
  padding-top: 5px;
}

nav {
  width: 347px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}


a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
  border-top: 0px;
}

nav a:hover {
  color: #0065FC;
  font-weight: bold;
}



/***** SECTION CRITERES      ******/

.formulaire1 {
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
}



.location {
  font-family: FontAwesome;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 60px;
  height: 50px;
  font-size: 18px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.rechercher {
  position: absolute;
  left: 0px;
  background-color: #0065FC;
  color: #f2f2f2;
  font-weight: bold;
  border: 0px solid #0065FC;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  height: 50px;
  width: 135px;
  z-index: 2;
  font-size: 18px;
}

.loupe {
  font-family: FontAwesome;
  font-size: 12px;
  position: absolute;
  left: -10px;
  background-color: #0065FC;
  color: #f2f2f2;
  border: 0px solid #0065FC;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}


.fontawesome-unicode {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: FontAwesome;
  font-size: 18px;
  color: #0065FC;
  background-color: #DEEBFF;
  border: 3px solid #DEEBFF;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
}


.filtre {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 35px;
}

.titre-filtres {
    margin-right: 15px;
}

.titre-critere {
  font-size: 18px;
  }

.one-choice {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
}

.icone1 {
  left: -25px;
}

.icone2 {
  left: -25px;
}

.icone3 {
  left: -18px;
}

.icone4 {
  left: -22px;
}

.choice1 {
  width: 200px;
  margin-left: 10px;
  margin-right: 15px;
}

.choice2 {
  width: 150px;
  margin-left: 10px;
  margin-right: 15px;
}

.choice3 {
  width: 183px;
  margin-left: 10px;
  margin-right: 15px;
}


.choice4 {
  width: 240px;
  margin-left: 10px;
  margin-right: 15px;
}

.critere1{
  font-size: 18px;
  text-indent: -8px;
}
.critere2{
  font-size: 18px;
  text-indent: -10px;
}
.critere3{
  font-size: 18px;
  text-indent: -6px;
}
.critere4{
  font-size: 18px;
  text-indent: -10px;
}

.one-choice:hover {
  background-color: #DEEBFF;
  cursor: pointer;
  border-top: 2px solid #DEEBFF;
  border-bottom: 2px solid #DEEBFF;
  border-right: 2px solid #DEEBFF;
}

.submit-group {
  position: relative;
  height: 50px;
}

input[type="search"] {
  width: 231px;
  font-size: 18px;
  font-weight: bold;
  text-indent: 10px;
}


.formulaire2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
}


.info-ico {
  font-family: FontAwesome;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 16px;
    font-weight: bold;
  color: #0065FC;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  margin-right: 10px;
}

.more-than-500-p {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  margin: 24px 30px;
}

.more-than-500-span {
  font-size: 16px;
  font-weight: normal;
  color: black;
}

.sous-titre-centre-ville {
  font-size: 16px;
  font-weight: normal;
  padding-left: 5px;
  margin-top: 10px;
  height: 30px;
  margin-bottom: 5px;
}


/***** SECTION HEBERGEMENTS   ******/

.section-hebergements {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 0.8vw;
}

.titre-h1-h {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.h1-h {
  font-size: 23px;
  font-weight: bold;
  text-align: left;
}


/*****  MAIN     ******/
main {
  width: 65%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 0.8vw;
  margin: 3px;
}

.conteneur-cards-h {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

/***MAIN:  dimensionnement relatif *** voir aside ****/
/**   ratio  1/3 - 2/3  with unit vw or % percentage **/
.card-h {
  width: calc((96%)/3);
  min-width: 185px;
  height: 16vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid white;
  margin-bottom: 4vw;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  background-color: white;
}

.card-img-h {
  width: 100%;
  height: 60%;
  overflow: hidden;
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
}

.image-h {
  width: 100%;
  height: 100%;
}

/**** centrage de l'image ****/
.image-h img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}


.card-info-h {
  width: 100%;
  height: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 2%;
}


.titre-img-h {
  font-size: 19px;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prix-info-h {
  font-size: 16px;
  width: 100%;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.enabled-stars,
.disabled-stars {
  font-size: 16px;
  font-family: FontAwesome;
}

.enabled-stars {
  color: #0065FC;
}

.disabled-stars {
  color: #D9D9D9;
}


.lien-afficherplus {
  text-decoration: none;
  color: black;
}

.afficherplus {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}


/*****  ASIDE     ******/
aside {
  width: 32%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  margin: 3px;
  padding: 0.8vw;
  border-radius: 25px;
}

.titre-h1-a {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.8vw;
}

.black-star {
  font-family: FontAwesome;
  color: black;
  font-size: 22px;
}

.h1-a {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.conteneur-cards-a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

/*****  ASIDE **/
.card-a {
  width: 27vw;
  min-width: 245px;
  max-width: 555px;
  height: 12vw;
  min-height: 90px;
  max-height: 140px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3vw;
}

.card-img-a {
  width: 40%;
  height: 100%;
  border: 5px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
}

.image-a {
  width: 100%;
  height: 100%;
}

/*****  ASIDE **/
/**** centrage de l'image ****/
.image-a img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.35);
}


.card-info-a {
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 5px solid white;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

/** pas encore exploitée**/
/***
.titre&prix-a {
 }
**/

.titre-img-a {
  font-size: 18px;
  font-weight: bold;
}

.prix-info-a {
  font-size: 14px;
  font-weight: normal;
}


/***** section  FOOTER  ******/
footer {
  width: 100vw;
  height: 15.28vw;
  background-color: #f2f2f2;
}


/**************** MEDIA        QUERIES *********************/
/**************** M E D I A    Q U E R I E S ****************/


/**MQ:  DESKTOP ****/
@media screen and (min-width: 992px) {

  .nav-hebergements:hover,
  .nav-activites:hover {
    border-top: 3px solid #0065FC;
  }

  .loupe {
    visibility: hidden;
  }

  .rechercher {
    visibility: visible;
  }

  /** début du FIN FILIGRANE  **/
  body {
    position: relative;
    width: 1440px;
    margin: 0px;
    height: 1884px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;

  }


  .trame {
    position: absolute;
    top: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .trame img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  /** fin du FIN FILIGRANE  **/

}

/**desk*/


/*** MQ: TAB ****/
@media screen and (min-width: 768px) and (max-width: 991px) {


  .nav-hebergements:hover {
    border-top: 3px solid #0065FC;
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
  }

  .nav-activites:hover {
    border-top: 3px solid #0065FC;
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
  }

  .loupe {
    visibility: hidden;
  }

  .rechercher {
    visibility: visible;
  }

  main {
    width: 61%;
  }

  aside {
    width: 36%;
  }

  /**** MQ: TAB  *****/
  /*  il faut dimensionner la largeur de façon à ce qu'il
  n'y ait de la place que pour 2 cartes */
  .card-h {
    width: calc(100%/2.35);
    height: 20vw;
    margin-bottom: 2vw;
  }

  .titre-img-h {
    font-size: 20px;
  }

  /***MQ: TAB**/
  .card-a {
    width: 34vw;
    max-width: 96%;
    height: 14vw;
    margin-bottom: 7vw;
  }

  .titre-img-a {
    font-size: 18px;
  }

  .prix-info-h {
    font-size: 18px;
  }

  .enabled-stars,
  .disabled-stars {
    font-size: 18px;
  }

  /** MQ: TAB.:  taille  d'écriture***/
  .h1-h,
  .afficherplus {
    font-size: 25px;
  }

  .h1-a {
    font-size: 25px;
  }


}

/*** MQ: TEL *************/
@media screen and (max-width: 767px) {
  nav {
    width: 100%;
  }

  .nav-hebergements:hover,
  .nav-activites:hover {
    border-bottom: 3px solid #0065FC;
  }

  .nav-hebergements,
  .nav-activites {
    width: 50%;
    height: 50px;
    border-bottom: 3px solid #f2f2f2;
    font-size: 16px;
  }

  /*** MQ: TEL *************/
  body {
    width: 100%;
    margin: 0px;
  }

  header {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

  }

  .logo {
    width: 120px;
    height: 47px;
    text-align: center;
    text-indent: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .logo img {
    /*width: 90px;*/
    height: 100%;
  }

  nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;

  }

  /*** MQ: TEL *************/
  .loupe {
    visibility: visible;
    width: 40px;
    height: 40px;
  }

  .rechercher {
    visibility: hidden;
  }

  aside {
    max-width: none;
  }

  .sous-titre-centre-ville {
    font-size: 20px;
  }

  .titre-vacances-de-reve {
    font-size: 32px;
  }

  /***MQ: TEL: le titre reste seul sur la ligne*  **/
  .titre-filtres {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  /***** MQ: TEL: basculement de l'aside  vers le haut   *********/
  .section-hebergements {
    width: 100%;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
  }

  /** MQ:  TEL***: on force les cartes à être 
  les unes au-dessus des autres **/
  .conteneur-cards-h {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .conteneur-cards-a {
    width: 100%;
  }

  /* MQ * TEL : la carte unique prend 
   presque toute la largeur, ajout d'ombres ***/
  .card-h {
    width: 90%;
    height: 60vw;
    max-width: none;
    max-height: none;
    box-shadow: 10px 10px 30px #f0f0f0,
      10px 10px 30px #f0f0f0,
      -10px -10px 30px #f0f0f0,
      -10px -10px 30px #f0f0f0;
  }

  .card-a {
    width: 90%;
    height: 26vw;
    max-width: none;
    max-height: none;
    margin-bottom: 5vw;
  }

  /** MQ: TEL:   taille  d'écriture***/
  .h1-h,
  .h1-a {
    font-size: 36px;
  }

  .afficherplus {
    font-size: 26px;
  }

  /** MQ: TEL   ***/
  main {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    margin: 0.8vw;
  }

  /** MQ: TEL   ***/
  aside {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    margin-left: 20px;
    border-radius: 25px;
    margin: 1vw;
  }

  /** MQ: TEL   ***/
  .prix-info-h {
    font-size: 24px;
  }

  .prix-info-a {
    font-size: 28px;
    font-weight: normal;
  }

  /** MQ: TEL   ***/
  .enabled-stars,
  .disabled-stars {
    font-size: 24px;
  }

  .titre-img-h {
    font-size: 24px;
  }

  .titre-img-a {
    font-size: 24px;
  }

  .saisie-ville {
    width: 100%;
    /*90vw;*/
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  input[type="search"] {
    width: 100%;
    font-size: 18px;
  }

  /** MQ: TEL   ***/
  .formulaire1 {
    width: 100%;
    height: 40px;
  }



  .location {
    width: 40px;
    font-size: 18px;
  }

}


/************ END  of   media queries **************************/