/********* B O X - S I Z I N G  ***/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/****************MEDIA QUERIES à la fin du fichier ************************/

/***** REGLES GENERALES - REGLES GENERALES  ******/
*,
*:after,
*:before {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 95%;
  margin: auto;
}

/***** HEADER  HEADER  HEADER  HEADER ******/

header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


.logo {
  width: 200px;
  height: 40px;
}

nav div {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
}


header div img {
  width: 60px;

}

nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
  border-top: 0px;
}

nav a:hover {
  color: #0065FC;
  font-weight: bold;
}



section {}

/***** SECTION CRITERES VILLE  - SECTION CRITERES VILLE   ******/
section.criteres {}

.criteres h1 {
  font-size: 20px;
}

.formulaire1 {
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  margin-bottom: 10px;
}

.formulaire2 div {
  display: block;
}

.form2-lbl {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: #f2f2f2;
  border-top: #f2f2f2;
  border-right: #f2f2f2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


.location {
  font-family: FontAwesome;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #DEEBFF;
  width: 30px;
  font-size: 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.rechercher,
.magnify {
  position: absolute;
  left: 0px;
  background-color: #0065FC;
  color: #f2f2f2;
  border: 0px solid #0065FC;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  height: 30px;
}

.rechercher {
  z-index: 2;
}

.form2-fontawesome-unicode {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: FontAwesome;
  font-size: 13px;
  color: #0065FC;
  background-color: #DEEBFF;
  border: 3px solid #DEEBFF;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.one-option+label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 10px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  border-right: 3px solid #f2f2f2;
}

.one-option {
  display: none;
}

.one-option:hover+label {
  background-color: #DEEBFF;
  cursor: pointer;
  border-top: 3px solid #DEEBFF;
  border-bottom: 3px solid #DEEBFF;
  border-right: 3px solid #DEEBFF;
}

.one-option:checked+label {
  border-top: 3px solid #0065FC;
  border-bottom: 3px solid #0065FC;
  border-right: 3px solid #0065FC;
  border-left: 3px solid #0065FC;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: #0065FC;
}

.submit-group {
  position: relative;
  height: 30px;
}



input[type="search"] {
  font-size: 15px;
}

.check-filtre {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.formulaire2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
}

.quatre-choix {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
}

input[type="checkbox"] {
  list-style-image: none;
}

.more-than-500-p {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.info-ico {
  font-family: FontAwesome;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  ;
  font-size: 10px;
  color: #0065FC;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  margin-right: 10px;
}

.more-than-500-span {
  font-size: 12px;
  font-weight: normal;
  color: black;
}

.more-than-500-p {
  width: 100%;
}

/***** SECTION HEBERGEMENTS  - SECTION HEBERGEMENTS   ******/

.section-hebergements {
  width: 100%;
  display: flex;
  flex-flow: row wrap-reverse;
  border: 3px solid red;
  justify-content: space-between;
  background-color: #f2f2f2;
}

/***** SOUS-SECTION MAIN  (IN SECTION HEBERGEMENTS)   ******/
main {
  width: 66%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border: 3px dashed fuchsia;
  background-color: #f2f2f2;
}

.h1-main {
  font-size: 20px;
}

.conteneur-img-h {
 /* width: 100%;*/
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  border: 3px dashed black;
}

.cadre-img-info-h {
  position: relative;
  display: inline-block;
 /* flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;*/
  width: 245px;
  height: 198px;
  /*border: 10px solid white;*/
  /*background-color: aquamarine;*/
  margin: 25px;
}

.img-h {
  position: relative;
  /*top: -10px;*/
  width: 245px; /** like:  .cadre-img-info-h**/
  /*width: 224px;*/
  height: 64%;
  border: 5px solid white;
  overflow: hidden;
  border-top-left-radius: 25px ;
  border-top-right-radius: 25px ;
     }

.image1-h , .image2-h , .image3-h , .image5-h    {
 position: absolute;
  top: -23px;
  width: 245px; /** like:  .cadre-img-info-h**/
  }
.image4-h {
  position: absolute;
   top: -55px;
      width: 245px; 
   /*transform: scale(1.2);*/
 }
.image6-h {
  position: absolute;
   top: -130px;
   width: 245px; 
 }
 

.bloc-info-h {
  /*position: absolute;
  bottom: -10px;*/
  width: 100%;
  /*width: 224px;*/
  height: 36%;
  border: 5px solid white;
  font-size: 10px;
  background-color: white;
}

/***** SOUS-SECTION ASIDE  (IN SECTION HEBERGEMENTS)   ******/
aside {
  /*width: 100%;*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: 3px solid magenta;
  background-color: #f2f2f2;
}

.h1-aside {
  font-size: 15px;
}

aside p {
  font-size: 10px;
  font-weight: bold;
}

.cadre-img-info-aside {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 330px;
  height: 137px;
  border: 2px solid blue;

}

.bloc-img-info-aside {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 330px;
  border: 2px dotted maroon;
}

.cadre-img-aside {
  display: flex;
  flex-flow: row nowrap;
  border: 3px dotted violet;
  overflow: hidden;
}

.img-aside {
  width: 130px;
  height: 137px;
  background-color: azure;
}

.bloc-info-aside {
  width: 190px;
  border: 2px solid orange;
  font-size: 10px;
}

/***** SECTION FOOTER -  SECTION FOOTER - SECTION FOOTER  ******/
footer {
  background-color: #f2f2f2;
}

/**************** M E D I A    Q U E R I E S ****************/
/*** D E S K T O P S ****/
@media screen and (min-width: 992px) {
  .nav-hebergements:hover {
    border-top: 2px solid #0065FC;
  }

  .nav-activites:hover {
    border-top: 2px solid #0065FC;
  }

  .magnify {
    visibility: hidden;
  }

  .rechercher {
    visibility: visible;
  }
}

/***************/

/*** T A B L E T T E S ****/
@media screen and (min-width: 768px) and (max-width: 991px) {


  .nav-hebergements:hover {
    border-top: 2px solid #0065FC;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }

  .nav-activites:hover {
    border-top: 2px solid #0065FC;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }

  .magnify {
    visibility: hidden;
  }

  .rechercher {
    visibility: visible;
  }

}

/***************/

/*** T E L E P H O N E S *********************/
@media screen and (max-width: 767px) {

  /**** dans la réalité HOVER n'a aucune utilité 
  pour la plupart des téléphones et tablettes 
  (pas de dispositif de pointage)*****/

  .nav-hebergements:hover {
    border-bottom: 2px solid #0065FC;
  }

  .nav-activites:hover {
    border-bottom: 2px solid #0065FC;
  }


  .nav-hebergements {
    border-bottom: 2px solid #f2f2f2;
  }

  .nav-activites {
    border-bottom: 2px solid #f2f2f2;
  }

  header {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .logo {
    text-align: center;
  }

  .rechercher {
    visibility: hidden;
  }

  .magnify {
    visibility: visible;
  }

}

/************ fin media queries **************************/



/*
.p2blue{
  color: #0065FC;
}
.p2lightblue{
  color:#DEEBFF; 
}
.p2greybackground{
  color: #f2f2f2;
}
*/