/********* B O X - S I Z I N G  ***/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/****************MEDIA QUERIES à la fin du fichier ************************/

/***** REGLES GENERALES - REGLES GENERALES  ******/
*,
*:after,
*:before {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 95%;
  margin: auto;
}

/***** HEADER  HEADER  HEADER  HEADER ******/

header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}


.logo {
  width: 200px;
  height: 40px;
}

nav div {
  font-size: 20px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
}


header div img {
  width: 60px;

}

nav {
  width: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  /*height: 60px;*/
}

.nav-hebergements,
.nav-activites {
  height: 60px;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
  border-top: 0px;
}

nav a:hover {
  color: #0065FC;
  font-weight: bold;
}





/***** SECTION CRITERES VILLE  - SECTION CRITERES VILLE   ******/

.titre-vacances-de-reve {
  font-size: 28px;
}

.formulaire1 {
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  margin-bottom: 10px;
}

.formulaire2 div {
  display: block;
}

.form2-lbl {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: #f2f2f2;
  border-top: #f2f2f2;
  border-right: #f2f2f2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


.location {
  font-family: FontAwesome;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #DEEBFF;
  width: 30px;
  font-size: 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.rechercher {
  position: absolute;
  left: 0px;
  background-color: #0065FC;
  color: #f2f2f2;
  border: 0px solid #0065FC;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  height: 30px;
  z-index: 2;
}

.magnify {
  font-family: FontAwesome;
  font-size: 12px;
  position: absolute;
  left: -10px;
  background-color: #0065FC;
  color: #f2f2f2;
  border: 0px solid #0065FC;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}


.form2-fontawesome-unicode {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: FontAwesome;
  font-size: 13px;
  color: #0065FC;
  background-color: #DEEBFF;
  border: 3px solid #DEEBFF;
  height: 31px;
  width: 31px;
  border-radius: 50%;
}

.one-option+label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 10px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}

.one-option {
  display: none;
}

.one-option:hover+label {
  background-color: #DEEBFF;
  cursor: pointer;
  border-top: 2px solid #DEEBFF;
  border-bottom: 2px solid #DEEBFF;
  border-right: 2px solid #DEEBFF;
}

.one-option:checked+label {
  border-top: 2px solid #0065FC;
  border-bottom: 2px solid #0065FC;
  border-right: 2px solid #0065FC;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: #0065FC;
}

.one-option:checked+.form2-lbl .form2-fontawesome-unicode {
  border: 2px solid #0065FC;
}

.submit-group {
  position: relative;
  height: 30px;
}



input[type="search"] {
  font-size: 15px;
}

.check-filtre {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.formulaire2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
}

.quatre-choix {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
}

input[type="checkbox"] {
  list-style-image: none;
}

.more-than-500-p {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.info-ico {
  font-family: FontAwesome;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  color: #0065FC;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  margin-right: 10px;
}

.more-than-500-span {
  font-size: 20px;
  font-weight: normal;
  color: black;
}

.more-than-500-p {
  width: 100%;
}

/***** SECTION HEBERGEMENTS  - SECTION HEBERGEMENTS   ******/

.section-hebergements {
  width: 100%;
  min-height: 850px;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: white;
}

.h1-main {
  font-size: 30px;
  font-weight: bold;
  text-indent: 20px;
}


/***** SOUS-SECTION MAIN  (IN SECTION HEBERGEMENTS)   ******/
main {
  height: 100%;
  max-width: 66%;
  min-width: 464px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: #f2f2f2;
  margin-right: 15px;
  border-radius: 25px;
}

.conteneur-img-h {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.cadre-img-info-h {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 318px;
  height: 260px;
  border: 7px solid white;
  margin: 15px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  background-color: white;
}

.img-h {
  position: relative;
  width: 300px;
  height: 64%;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.image1-h {
  position: absolute;
  top: -24px;
  width: 300px;
  transform: scale(1, 1.12);
}

.image2-h {
  position: absolute;
  top: -27px;
  width: 300px;
}

.image3-h {
  position: absolute;
  top: -23px;
  width: 300px;
  transform: scale(1.05,1.12);
}

.image4-h {
  position: absolute;
  top: -55px;
  width: 300px;
}

.image5-h {
  position: absolute;
  top: -25px;
  width: 300px;
}

.image6-h {
  position: absolute;
  top: -155px;
  width: 300px;
}


.bloc-info-h {
  width: 100%;
  height: 36%;
  line-height: 70%;
}


.titre-img-h {
  font-size: 18px;
  font-weight: bold;
}

.enabled-stars {
  font-family: FontAwesome;
  color: #0065FC;
  font-size: 15px;
}

.disabled-stars {
  font-family: FontAwesome;
  color: #D9D9D9;
  font-size: 15px;
}


.lien-afficherplus {
  text-decoration: none;
  color: black;
}

.afficherplus {
  font-size: 22px;
  font-weight: bold;
  text-indent: 20px;
}


/***** SOUS-SECTION ASIDE  (IN SECTION HEBERGEMENTS)   ******/
aside {
  height: 100%;
  min-width: 464px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f2f2f2;
  margin-left: 15px;
  border-radius: 25px;
}

.titre-h1-aside {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.black-star {
  font-family: FontAwesome;
  color: black;
  font-size: 25px;
}

.h1-aside {
  font-size: 30px;
  font-weight: bold;
}

.bloc-img-info-aside {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}


.cadre-img-aside {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 414px;
  height: 181px;
  margin: 18px;
}

.img-aside {
  position: relative;
  width: 165px;
  height: 100%;
  border: 5px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.image1-a {
  height: 161px;
  position: absolute;
  left: -45px;
  top: 5px;
  overflow: hidden;
  transform: scale(1.05, 1.15);
}

.image2-a {
  height: 161px;
  position: absolute;
  left: -32px;
  top: 6px;
  overflow: hidden;
  transform: scale(1.05, 1.15);
}

.image3-a {
  height: 161px;
  position: absolute;
  right: 25px;
  top: 5px;
  overflow: hidden;
  transform: scale(1.55, 1.62);
}

.bloc-info-aside {
  width: 249px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 5px solid white;
  background-color: white;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.titre-info-aside {
  font-size: 22px;
  font-weight: bold;
}

.night-price {
  font-size: 20px;
  font-weight: normal;
  position: relative;
  top: -25px;
}


/***** SECTION FOOTER -  SECTION FOOTER - SECTION FOOTER  ******/
footer {
  background-color: #f2f2f2;
}

/**************** M E D I A    Q U E R I E S ****************/
/*** D E S K T O P S ****/
@media screen and (min-width: 992px) {
  .nav-hebergements:hover {
    border-top: 2px solid #0065FC;
  }

  .nav-activites:hover {
    border-top: 2px solid #0065FC;
  }

  .magnify {
    visibility: hidden;
  }

  .rechercher {
    visibility: visible;
  }
}

/***************/

/*** T A B L E T T E S ****/
@media screen and (min-width: 768px) and (max-width: 991px) {


  .nav-hebergements:hover {
    border-top: 2px solid #0065FC;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }

  .nav-activites:hover {
    border-top: 2px solid #0065FC;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }

  .magnify {
    visibility: hidden;
  }

  .rechercher {
    visibility: visible;
  }

}

/***************/

/*** T E L E P H O N E S *********************/
@media screen and (max-width: 767px) {

  /**** dans la réalité HOVER n'a aucune utilité 
  pour la plupart des téléphones et tablettes 
  (pas de dispositif de pointage)*****/

  .nav-hebergements:hover {
    border-bottom: 2px solid #0065FC;
  }

  .nav-activites:hover {
    border-bottom: 2px solid #0065FC;
  }


  .nav-hebergements {
    border-bottom: 2px solid #f2f2f2;
  }

  .nav-activites {
    border-bottom: 2px solid #f2f2f2;
  }

  header {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .logo {
    text-align: center;
  }



  .magnify {
    visibility: visible;
  }

  .rechercher {
    visibility: hidden;
  }



}

/************ fin media queries **************************/